.structure {
  bottom: 0;
  left: 0;
  min-width: 990px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.structure-col {
  box-sizing: border-box;
  border-right: solid 1px #ddd;
  float: left;
  height: 100%;
  max-height: 100%;
  overflow: auto;

  &:last-child {
    border-right: none;
  }
}

.structure-repository {
  background: #f0f0f0;
  padding: 10px;
  width: 15%;
}

.structure-revisions {
  width: 40%;
  text-align: center;
}

.structure-revisions-more {
  text-align: center;
  margin: 10px auto;
}

.structure-revision {
  box-sizing: border-box;
  padding: 5px 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: #ddf9ff;
    cursor: pointer;
  }
}

.structure-revision-active,
.structure-revision-active:hover {
  background: #08f;
  color: #fff;
  cursor: default;
}

.structure-revision-clicked,
.structure-revision-clicked:hover {
  background: #09f;
  color: #fff;
  cursor: default;
}

.structure-revision-details {
  padding: 20px;
  width: 45%;
}

.structure-revision-details-empty {
  position: relative;

  &:after {
    color: #999;
    content: 'Select revision from the list on the left';
    left: 50%;
    margin-left: -100px;
    margin-top: -3em;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
  }
}

.structure-revision-details-title {
  font-size: 120%;
}

.structure-revision-details-info {
  font-size: smaller;
  margin-bottom: 1em;
}

.structure-revision-details-stats-additions,
.structure-revision-details-stats-deletions {
  margin-left: 0.5em;

  &:first-child {
    margin-left: 0;
  }
}

.structure-revision-details-stats-additions {
  color: #093;
}

.structure-revision-details-stats-deletions {
  color: #c33;
}

.structure-revision-details-file {
  margin-top: 0.5em;
}

.structure-revision-details-file-stats {
  white-space: nowrap;
}

.structure-revision-details-file-stats-filename {
  font-style: italic;
  font-weight: bold;
}

.structure-revision-details-file-source {
  border: dotted 1px #eee;
  border-radius: 2px;
  font-family: monospace;
  font-size: 120%;
  overflow: auto;
  padding: 0.5em;
  margin: 0.5em 0 1em;
  white-space: pre;
}

.structure-revision-details-file-source-line-added {
  background: #dfd;
}

.structure-revision-details-file-source-line-deleted {
  background: #fdd;
}

.structure-revision-details-file-source-line-service {
  color: #09f;
}
