.form-overlay {
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  left: 0;
  min-height: 4em;
  min-width: 350px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.form-overlay-content {
  background: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  left: 50%;
  margin: -5em 0 0 -175px;
  padding: 20px;
  position: absolute;
  top: 50%;
}

.form-overlay-label {
  display: inline-block;
  margin: 5px 10px 5px 0;
  vertical-align: middle;
  width: 80px;
  white-space: nowrap;
}

.form-overlay-input {
  font: 90% Verdana, sans;
  width: 210px;
}

.form-overlay-submit {
  font-size: 16px;
  margin: 5px 0 0 90px;
}

.form-overlay-error {
  display: inline-block;
  font-size: 70%;
  font-style: italic;
  margin: 5px 0 0 10px;
  max-width: 155px;
  vertical-align: top;
}
