@import './common.scss';

.form-inline {
  margin: 0;
  padding: 0;
}

.form-inline-content {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.form-inline-intro {
  margin-bottom: 1em;
  text-align: center;
}

.form-inline-label {
  display: inline-block;
  margin-right: .5em;
  padding: 0.3em 0;
  width: 5em;
  white-space: nowrap;
}

.form-inline-input {
  left: 6em;
  position: absolute;
  right: 1em;
}

.form-inline-submit {
  margin-top: .3em;
  margin-left: 6em;
}
